.event {
  position: absolute;
  width: 80%;
  padding: 8px;
  background-color: #ee861e;
  border-radius: 8px;
  color: #fff;
  overflow: hidden;
  z-index: 4;
  transition: all 0.3s;
  &__time {
    margin-bottom: 15px;
  }

  &__title {
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    width: 100%;
    font-weight: bold;
    background-color: #737bff;
    transform: scale(1.05);
    white-space: wrap;
    box-shadow: 3px 4px 5px 1px rgb(25 25 255 / 75%);
    z-index: 5;
    cursor: pointer;
  }
}

.delete-event-btn {
  position: absolute;
  right: -5px;
  top: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
  transition: color 0.3s;
  &:hover {
    fill: red;
  }
}
