.header {
  display: flex;
  height: 70px;
  padding: 0 48px;
  align-items: center;
}

.create-event-btn {
  display: flex;
  padding: 0 17px 0 10px;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 2px 3px 5px -1px rgb(0 0 0 / 30%);
  transition: all 0.4s;
  &:hover {
    color: #1212ff;
    box-shadow: 2px 3px 5px 1px rgb(0 0 0 / 30%);
  }

  &__icon {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }
  &__icon-svg {
    width: 30px;
    height: 30px;
  }
}

.navigation {
  &__today-btn {
    margin-left: 32px;
    padding: 0 16px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 1px 3px 5px -1px rgb(18 18 255 / 25%);
    transition: box-shadow 0.4s;
    &:hover {
      box-shadow: 1px 3px 5px 1px rgb(18 18 255 / 25%);
    }
  }

  &__nav-icon {
    font-size: 16px;
    margin-left: 37px;
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__displayed-month {
    margin-left: 40px;
    font-size: 18px;
  }
}
